include "startup.kdl"
include "outputs.kdl"
include "environment.kdl"
include "windows-rules.kdl"
include "animation.kdl"
include "binds.kdl"

input {
  focus-follows-mouse max-scroll-amount="40%"

  touchpad {
    natural-scroll
    tap
    drag true
    drag-lock
  }
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 25
    hide-when-typing
    hide-after-inactive-ms 1000
}

layout {
  gaps 12
  always-center-single-column
  empty-workspace-above-first
  background-color "transparent"
  focus-ring {
    width 2
    active-gradient from="#33ccffee" to="#00ff99ee" angle=45
    inactive-color "#00000000"
    urgent-color "#FF757F"
  }
  insert-hint {
    gradient from="#3355ff33" to="#00999933" angle=45
  }
  struts {
      left 5
      right 5
      top 4
      bottom 4
  }
}

screenshot-path null
hotkey-overlay {
  skip-at-startup
}

prefer-no-csd


layer-rule {
  match namespace="^swww-daemon$";
  place-within-backdrop true
}

overview {
  zoom 0.6
  workspace-shadow {
    off
  }
}

debug {
  honor-xdg-activation-with-invalid-serial
}

recent-windows {
    // off
    debounce-ms 750

    open-delay-ms 250

    highlight {
        active-color "#c8d3f580"
        urgent-color "#ff757f80"
        padding 30
        corner-radius 0
    }

    previews {
        max-height 480
        max-scale 0.5
    }
}
