spawn-at-startup "dms" "run" "-c" ".config/quickshell";
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store";
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store";

