* {
  color: #E0F3FF;
}

window {
  background: transparent;
}

.match {
  border-radius: 5px;
  padding: 0.3rem 0.9rem;
  margin-top: 0.01rem;
}

.match:first-child {
  margin-top: 0.7rem;
}

.match:last-child {
  margin-bottom: 0.6rem;
}

.match:selected,
.match:hover {
  background: #2C3C6F;
}

text {
  background: #24283B;
  /* border: 1px solid #0b0f10; */
  margin: 0.5rem;
  padding: 0.3rem 1rem;
}

list.plugin {
  border-radius: 16px;
  margin: 0 0.3rem;
}

list.plugin:first-child {
  margin-top: 0.3rem;
}

list.plugin:last-child {
  margin-bottom: 0.3rem;
}

box.main {
  background: #24283B;
  border: 1px solid #9CA5CB;
  border-radius: 13px;
  padding: 2px;
}
