* {
  color: #E0F3FF;
}

row.match {
  padding: 5px 5px;
  border-radius: 7px;
  margin-top: 0.01rem;
}

row.match:first-child {
  margin-top: 0.7rem;
}

row.match:selected,
row.match:hover {
  background: #2C3C6F;
}

row.match label {
  margin-top: 3px;
}

text {
  background: #24283B;
  margin: 0.5rem;
}

box.main {
  background: #24283B;
  border: 1px solid #9CA5CB;
  border-radius: 13px;
  padding: 10px;
}
