* {
  font-family:
    "Fira Sans Semibold", "FiraCode Nerd Font Propo", FontAwesome, Roboto,
    Helvetica, Arial, sans-serif;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 0px;
  background: transparent;
  transition-duration: 0.5s;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  color: @textcolor2;
  background-color: @backgroundlight;
  opacity: 0.9;

  border-radius: 16px;
  padding: 20px;
}

/* -----------------------------------------------------
 * Arch Logo
 * ----------------------------------------------------- */

#custom-Arch {
  color: @textcolor1;
  background-color: @backgrounddark;
  opacity: 0.8;

  margin: 3px 17px 3px 0px;
  border: 3px solid @bordercolor;
  border-radius: 15px;
  padding: 0px 10px 0px 10px;

  font-size: 16px;

  transition-duration: 0.3s;
}

/* -----------------------------------------------------
 * Wallpaper
 * ----------------------------------------------------- */

#custom-wallpaper {
  margin-right: 16px;
  background-image: url("./assets/openai.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-right: 18px;
  opacity: 0.8;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  color: @window;
  background: @backgroundlight;
  opacity: 0.8;

  margin: 5px 15px 5px 0px;
  border-radius: 12px;
  padding: 2px 10px 0px 10px;

  font-size: 16px;
  font-weight: normal;
}

#waybar.empty #window {
  background-color: transparent;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  color: @text;
  background: @workspacesbackground1;
  opacity: 0.8;

  margin: 2px 1px 3px 1px;
  border: 0px;
  border-radius: 15px;
  padding: 0px 1px;

  font-weight: bold;
  font-style: normal;
  font-size: 16px;
}

#workspaces button {
  color: @workspaces;
  background-color: @workspacesbackground2;
  opacity: 0.4;

  margin: 4px 3px;
  border: 0px;
  border-radius: 12px;
  padding: 0px 5px;
  min-width: 15px;

  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @active;
  min-width: 40px;
  opacity: 1;
}

#workspaces button.urgent {
  background: @workspacesbackground_urgent;
}

#workspaces button:hover {
  background: @workspacesbackground2;
  opacity: 0.7;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
  opacity: 0.8;

  margin: 5px 15px 5px 0px;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;

  font-size: 16px;
}

#custom-updates.green {
  color: @textcolor2;
  background-color: @backgroundlight;
}

#custom-updates.yellow {
  color: @textlight;
  background-color: @warning;
}

#custom-updates.red {
  color: @textlight;
  background-color: @error;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
  color: @audio;
  background-color: @audio-b;
  opacity: 0.8;

  margin: 5px 15px 5px 0px;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;

  font-size: 16px;
}

#pulseaudio.muted {
  background-color: @backgrounddark;
  color: @textcolor1;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
  color: @textcolor2;
  background-color: @backgroundlight;
  opacity: 0.8;

  margin: 5px 15px 5px 0px;
  border-radius: 15px;
  padding: 2px 15px 0px 10px;

  font-size: 16px;
}

#battery.charging,
#battery.plugged {
  color: @textcolor2;
  background-color: @backgroundlight;
}

@keyframes blink {
  to {
    background-color: @backgroundlight;
    color: @textcolor2;
  }
}

#battery.critical:not(.charging) {
  background-color: @warning;
  color: @textcolor3;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
  color: @network;
  background-color: @network-b;
  opacity: 0.8;

  margin: 5px 15px 5px 0px;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;

  font-size: 16px;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#custom-system {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  color: @iconcolor;
}

#disk,
#memory,
#cpu,
#temperature {
  margin-left: 10px;
  padding: 0px;
  font-size: 16px;
  color: @iconcolor;
}

#temperature {
  margin-right: 15px;
}

#temperature.critical {
  color: @red;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
  padding: 0px 15px 0px 0px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/* -----------------------------------------------------
 * Power Button
 * ----------------------------------------------------- */

#custom-exit {
  color: @exit;
  opacity: 0.8;

  margin: 0px 22px 0px 0px;
  padding: 0px;

  font-size: 20px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  color: @clock;
  background-color: @backgrounddark;
  border: 3px solid @bordercolor;

  border-radius: 15px;
  padding: 1px 10px 0px 10px;
  margin: 3px 0px 3px 0px;

  opacity: 0.8;
  font-size: 16px;
}
